
<% @posts.each do |post| %>
  
	<!-- item -->
	<div class="item">
		<div class="date"><%= @entry.created_at.strftime("%Y.%m.%d") %></div>
		<h2><a href="<%= post.link %>"><%= post.title %></a></h2>
		<div class="body"><%= post.body %></div>
	    
		<div class="info">
		    <ul>
		      <% unless post.category.nil? %>
		      <li class="category"><a href="<%= post.category.link %>"><%= post.category.title %></a></li>
		      <% end %>
		      <% unless post.tags.size.zero? %>
		      <li class="tags"><%= post.tags_to_html %></li>
		      <% end %>
	    	</ul>
		</div>
		<div class="admin">
		    <ul>
			<% if logged_in? %>
			<li><p><a href="<%= post.edit_link %>"></a></p></li>
			<% end %>
		    <li class="author"><%= post.user.name %></li>
			</ul>
			<div class="c"></div>
		</div>
	</div>
	<!-- /item -->
	
<% end %>
	
	<div class="pager">
	<ul>
		<% if @posts.pager.previous_page %>
		<li class="previous"><a href="?page=<%= @posts.pager.previous_page %>">Newer</a></li>
		<% end %>
		<% if @posts.pager.next_page %>
		<li class="next"><a href="?page=<%= @posts.pager.next_page %>">Older</a></li>
		<% end %>
	</ul>
	</div>
	
</div>

