
<% @posts.each do |post| %>
  
	<div class="item">
		<div class="date"><%= post.created_at.to_time %></div>
		<h3><a href="<%= post.link %>"><%= post.title %></a></h3>
		<div class="body"><%= post.body %></div>
	    <ul class="info">
	      <% unless post.category.nil? %>
	      <li class="category"><a href="<%= post.category.link %>"><%= post.category.title %></a></li>
	      <% end %>
	      <% unless post.tags.size.zero? %>
	      <li class="tags"><%= post.tags_to_html %></li>
	      <% end %>
	      <li class="author"><%= post.user.name %></li>
	    </ul>
		<div class="footer">
			<% if logged_in? %>
			<p><a href="<%= post.edit_link %>">aaa</a></p>
			<% end %>
		</div>
	</div>
  
<% end %>
	
	<div class="pager">
	<ul>
		<% if @posts.pager.previous_page %>
		<li class="previous"><a href="?page=<%= @posts.pager.previous_page %>">Newer</a></li>
		<% end %>
		<% if @posts.pager.next_page %>
		<li class="next"><a href="?page=<%= @posts.pager.next_page %>">Older</a></li>
		<% end %>
	</ul>
	</div>
</div>




