<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=Shift-JIS">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	
	<% if entry? %>
    <title><%= @entry.title %> | <%= @site.title %></title>
	<% else %>
    <title><%= @site.title %></title>
	<% end %>
	
    <meta name="description" content="<%= @site.meta_description %>" />
    <meta name="keywords" content="<%= @site.meta_keywords %>" />
    <link href="/index.atom" rel="alternate" title="<%= @title %>" type="application/atom+xml" />
    
	<!--common-->
    <link rel="stylesheet" href="<%= @theme.path %>/share/css/import.css" type="text/css" />
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript">google.load("jquery", "1.5.2");</script>
	<script type="text/javascript" src="<%= @theme.path %>/share/js/common/static.js"></script>
	<script type="text/javascript" src="<%= @theme.path %>/share/js/common/common.js"></script>
	
	<!--alone-->
	<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    
	<!--dyrect-->
	<style type="text/css">
	</style>
	<script type="text/javascript"><!--
	$(function() {
		
	});
	// --></script>
    
    
</head>
<body>
<!--bg-note-->
<div id="bg-note"></div>
<!--/bg-note-->

<!--container-->
<div id="container">
<div id="container-inner">

	<!--header-->
	<div id="header">
	<div id="header-inner">
		<div id="header-content">
			<h1 id="header-name"><a href="/"><%= @site.title %></a></h1>
			<div class="discription"><%= @site.description %></div>
		</div>
	</div>
	</div>
	<div class="c"></div>
	<!--/header-->
	
	<!--sns-->
	<div id="nav-sub">
	<div id="nav-sub-inner">
		<h3>follow me!</h3>
		<ul>
			<li><a href="#"><img src="<%= @theme.path %>/share/images/b_twitter.png" alt="" width="106" height="36" /></a></li>
			<li><a href="#"><img src="<%= @theme.path %>/share/images/b_github.png" alt="" width="106" height="36" /></a></li>
		</ul>
		<h3>Archives!</h3>
		<ul>
			<% months.each do |month| %>
			<li><a class="b_wood" href="/<%= month.year %>/<%= month.month %>/"><%= month.year %>/<%= month.month %></a></li>
			<% end %>
		</ul>
	</div>
	</div>
	<!--/sns-->
	
	<!--nav-->
	<div id="nav">
	<div id="nav-inner">
		<ul>
			<% Page.all.each do |page| %>
            <li><a href="<%= page.link %>"><%= page.title %></a></li>
			<li class="sla">/</li>
			<% end %>
			<li><a href="#">Archives</a></li>
		</ul>
		<div id="breadlist"><%= bread_crumb %></div>
	</div>
	</div>
	<div class="c"></div>
	<!--/nav-->
	
	<!--main-->
	<div id="items">
	<div id="items-inner">
	
	<%= yield %>
	
	</div>
	</div>
	<!--/main-->
	
	<!--footer-->
	<div id="footer">
	<div id="footer-inner">
		<div class="poweredby">powered by <a href="http://github.com/komagata/lokka">Lokka</a></div>
	</div>
	</div>
	<!--/footer-->

</div>
</div>
<!--/container-->


</body>
</html>



